extends ./main.pug

block content
    form.writeForm(action="/createBoard" method="POST")
        div.writeWrapper
            div.writeWrapper__guide TITLE
            div.writeWrapper__content 
                input(type="text" name="title")
        div.writeWrapper        
            div.writeWrapper__guide AUTHOR
            div.writeWrapper__content 
                input(type="text" name="author") 
        div.descwriteWrapper
            div.descwriteWrapper__guide DESC
            div.descwriteWrapper__content
                textarea(name="desc")
        div.buttonArea
            input(type="submit" value="WRITE")
                     
    form.listForm(action="/" method="GET")
        input(type="submit" value="LIST")             