extends ./main.pug

block content
    div.hc__buttonArea
        form(action="/create" method="GET")
            input(type="submit" value="Write") 
    ul.hc__dataList
        li 번호
        li 제목
        li 작성자
        li 작성일
    each data in BoardList    
        ul.hc__list
            li 1
            li 
                form(action="/detail" method="GET")
                    input(type="hidden" name="id" value=data._id)
                    input(type="submit" value=data.title) 
            li #{data.author}
            li #{data.created}